html, body {
	margin: 0;
	padding: 0;
	background-color: rgb(30, 30, 30);
}

html, body, div, span, p, a {
	font-family: sans-serif;
}

/* Navbar */

div.upper-div {
	background-color: rgb(30, 30, 30);
	padding: 0 1em;
	display: flex;
	align-items: center;
}

/* responsive */
.topnav {
  overflow: hidden;
  width: 1000px;
  margin: 0 auto;
  transition: 0.4s ease-in-out;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 1em 0;
  text-decoration: none;
  font-size: 17px;
}

.topnav a.actual-links {
	width: 20%;
}

.topnav a:hover {
  color: rgb(255, 255, 255);
}

.topnav a.active {
  color: rgb(44, 255, 213);
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    
  }
  
  .topnav.responsive a.actual-links {
	width: 80%;
    padding: 0.5em 0 0.5em 1em;	
	}
}

/* main content */
.content {
	max-width: 1000px;
	margin: 50px auto 100px;
	color: rgb(255, 255, 255);
	padding: 0 1em;
	display: flex;
	flex-direction: column;
}

.expanded {
	padding: 200px 1em;
}

.header-enlarged {
	font-weight: bold;
	font-size: 2em;
	text-align: center;
	line-height: 1.5;
}

.subtitle-enlarged {
	font-size: 1.2em;
	text-align: center;
	margin-bottom: 50px;
	line-height: 1.5;
}

